<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Detail/Edit</th>
            </thead>
            <tbody>
                <tr *ngFor="let p of products">
                    <td>{{p.id}}</td>
                    <td class="w-75">{{p.name}}</td>
                    <td>
                        <a [routerLink]="['/products', p.id]" class="btn btn-primary btn-sm" style="margin-right: 5px;">Detay</a>
                        <a [routerLink]="['/products', p.id, 'edit']" class="btn btn-warning btn-sm">Düzenle</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<br><br>

<div class="row">
    <div class="col-md-12">
       
        <a routerLink="/products" class="btn btn-primary ml-2" [queryParams]="{page:1, order:'bestselling'}">En çok satanlar</a>
        <a routerLink="/products" class="btn btn-primary ml-2" [queryParams]="{page:1, order:'newest'}">En yeni ürünler</a>
        
        <button (click)="loadProducts()" class="btn btn-primary ml-2">
            Sayfayı Yenile
        </button>
        
        
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>





